<tr>
  <td><img src="{{ avatar_url }}" class="avatar"></td>
  <td>{{ name }}</td>
  <td>{{ description }}</td>
  <td><a href="{{ repository_url }}" target="_blank">{{ repository_url }}</a></td>
</tr>
